@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/*reset CSS*/
*{
    margin:0;
    font-size: 100%;
    border: 0;
    outline: 0;
    padding: 0;
    font-family: 'Inter',sans-serif;
    font-weight: 400;
}

:root{
    --primary-color:#0A3871;
}

body{
    background-color:#F3F5FC;
}

h1{
	position:absolute;
	left: 50px;
}

.principal{
	margin: 40px auto auto;
	width:90%;
	display:flex;
	justify-content:end;
	gap: 15%;
}
.entrada{
	width:50%;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
}

textarea{
	resize: none;
	width: 100%;
	height: 30%;
    background-color: transparent;
}

input::placeholder{
    color:var(--primary-color);
    font-size: 32px;
}

i{
    color:#495057;
}

span{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color:#495057;
}

.controle .botoes button{
	width:48%;
	min-width:210px;
	height:100%;
}

#criptografar{
    margin-top: 16px;
    margin-right: 2%;
}

#descriptografar{
    background-color: 
    #D8DFE8;
    color:
    var(--primary-color);
    outline: var(--primary-color) solid 1px;
}

aside{	
	justify-self:end;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
	min-width:420px;
	max-width:720px;
    height: 92vh;
    background-color: #fff;
    border-radius:32px
}

aside .conteudo-aside{
	width:100%;
	margin:auto;
}

aside h2{
    margin: 2em  auto 0.5em;
    color: #343A40;
    font-size: 1.5em;
    font-weight: 700;
}

aside #texto-saida{
	position: relative;
	top: 19.5%;
}

aside #empty_art{
	margin: auto;
    width: 80%;
}

aside #botao-copiar{
	position:absolute;
	width: 20%;
	max-width:320px;
	min-width:245px;
	bottom:60px;
}

aside textarea{
	height:62%;
	width:80%;
}

button{
    background-color: var(--primary-color);
	padding:20px;
    color: #fff;
    border-radius: 24px;
}


/*@media(max-width:1320px){
    #empty_art{
        display: none;
    }
    h1{
        margin: 73px 0 0 40px;
    }
    input{
        margin: 240px 40px 0 40px;
        width: 688px;
        height: 48px;
    }
    input::placeholder{
        font-size: 32px;
    }
    .controle{
        margin:548px 40px 0 40px;
    }
    .botoes{
        margin-top: 16px;
    }
    .controle #criptografar{
        margin-right: 24px;
    }
    .saida{
       position: static; 
       width:688px;
       height: 133px;
       margin: 64px 110px 40px 110px;
       padding: 32px;
    }
    .saida h2{
        margin-bottom: 16px;        
    }
}*/

@media(max-width:375px){
    #empty_art{
        display: none;
    }
    h1{
        margin: 24px 0 0 16px;
    }
    input{
        margin: 152px 16px 0 16px;
        width: 343px;
        height: 48px;
    }
    input::placeholder{
        font-size: 32px;
    }
    .controle{
        margin:251px 16px 0 16px;
    }
    .controle #criptografar{
        margin: 16px 0 24px 0;
    }
    .saida{
       margin: 64px 5% 40px 5%;
       padding: 32px;
    }
    .saida h2{
        margin-bottom: 16px;        
    }
}
