@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/*reset CSS*/
*{
    margin:0;
    font-size: 100%;
    border: 0;
    outline: 0;
    padding: 0;
    font-family: 'Inter',sans-serif;
    font-weight: 400;
}

:root{
    --primary-color:#0A3871;
}

body{
    background-color:#F3F5FC;
}

h1{
	position:absolute;
	left: 50px;
}

.principal{
	margin: 40px auto auto;
	width:90%;
	max-width: 1920px;
	display:flex;
	justify-content:end;
	gap: 15%;
}
.entrada{
	width:50%;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
}

textarea{
	resize: none;
	width: 100%;
	height: 400px;
    background-color: transparent;
}

input::placeholder{
    color:var(--primary-color);
    font-size: 32px;
}

i{
    color:#495057;
}

span{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color:#495057;
}

.controle .botoes button{
	width:48%;
	height:100%;
}

#criptografar{
    margin-top: 16px;
    margin-right: 2%;
}

#descriptografar{
    background-color: 
    #D8DFE8;
    color:
    var(--primary-color);
    outline: var(--primary-color) solid 1px;
}

aside{	
	box-sizing:border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
	max-width:540px;
	min-width:440px;
	width:40vw;
    height: 92vh;
	max-height:1080px;
    background-color: #fff;
    border-radius:32px
}

aside .conteudo-aside{
	width:100%;
	margin:auto;
}

aside h2{
    margin: 2em  auto 0.5em;
    color: #343A40;
    font-size: 1.5em;
    font-weight: 700;
}

aside #texto-saida{
	position: relative;
	top: 19.5%;
	width:80%;
}

aside #empty_art{
	margin: auto;
    width: 80%;
}

aside #botao-copiar{
	position:absolute;
	width: 20%;
	max-width:320px;
	min-width:245px;
	bottom:60px;
}

button{
    background-color: var(--primary-color);
	padding:20px;
    color: #fff;
    border-radius: 24px;
}


@media(max-width:1070px){
	.principal{
		flex-direction:column;
		align-items:center;
	}	
    #empty_art{
        display: none;
    }
    h1{
		position:static;
        margin: 73px 0 0 40px;
    }
	.entrada{
		width:100%;
	}
    .botoes{
        margin-top: 16px;
    }
    .saida{
       position: static; 
       width:90vw;
	   min-width:200px;
	   height:auto;
       margin: 64px auto;
       padding: 32px;
    }

	.saida	#texto-saida{
		position: static;
	}

    .saida h2{
        margin-bottom: 16px;        
    }
	.saida #botao-copiar{
		position:static; 
		margin-top: 20px;
	}

}

